doctype
html(lang='en')
	head
		meta(charset='utf-8')
		link(href="style.css", rel="stylesheet")
		link(href="//cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css", rel="stylesheet")
		title
	body
		.content
			.card
				.firstinfo
					img(src="https://randomuser.me/api/portraits/men/29.jpg")
					.profileinfo
						h1 Hello! I am John
						h3 FrontEnd Developer
						p.bio
							| Lived all my life with coding, learning the way to be a Good Dev and Tutor.
			.badgescard
				span.devicon-html5-plain.colored
				span.devicon-css3-plain.colored
				span.devicon-javascript-plain.colored
				span.devicon-sass-original.colored
				span.devicon-babel-plain.colored
